body: {
    font-family: 'Vollkorn', serif;
}

button.btn {
    font-family: 'Vollkorn', serif;
    font-size: 1.2em;
    font-style: italic;
    padding: 7px 22px;
}

button.btn {
    margin: 0 15px 0 0;
}

.buttonsTop {
    margin: 32px 0;
}


h1 {
    font-family: 'Vollkorn', serif;
    font-size: 2.9em;
}

span {
    font-family: 'Vollkorn', serif;
    font-size: 1.3em;
}

input#new-task {
    font-family: 'Vollkorn', serif;
    font-size: 1.2em;
    padding: 7px 16px;
}

a {
    font-size: 1.2em;
    font-family: 'Vollkorn', serif;
}

span#task-count {
    font-family: 'Vollkorn', serif;
    font-size: 1.3em;   float: right;
    padding-right: 7px;
    color: #3D6588;
}