    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        margin: 20px;
    }

    footer {
        margin: 10px 0px 0px 0px;
    }

    .btn {
        margin: 15px;
        background-color: #999;
        border: 1px solid #666;
        padding: 5px 10px;
        border-radius: 4px;
        color: #eaeaea;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-stop {
        background-color: red;
    }

    .btn-record {
        background-color: orange;
    }

    .btn-play {
        background-color: green;
    }

    .btn-play[disabled] {
        opacity: 0.5;
    }

