body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 20px;
}

footer {
    margin: 10px 0px 0px 0px;
}

.btn {
    margin: 0px 9px 0px 0px;
}

.btn-stop {
    background-color: red;
}

.btn-record {
    background-color: orange;
}

.btn-play {
    background-color: green;
}

.btn-play[disabled] {
    opacity: 0.5;
}

input#new-task {
    padding: 3px 0 3px 6px;
    width: 100%;
    border: 1px solid #D1CFCF;
}

li.list-group-item {
    padding: 10px;
}
